body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 100%;
}

h1 {
    
    font-size: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.section {
    margin-bottom: 20px;
    
}

label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
}

input[type="number"] {
    width: 95%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

button {
    background-color: #0231c9;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #0502ab;
    opacity: 1;
}

.results {
    
    margin-top: 20px;
    padding-top: 10px;
    border-top: 1px solid #ccc;
}

.results p {
    font-size: 14px;
    margin: 5px 0;
}

span {
    font-weight: bold;
}

.disp{
    display: flex;
    flex-direction: row;
}

.marg{  
  margin: 1px;
}

.texto {
    margin-bottom: 0;
}


